body{
padding-left: 6%;
font-family: 'Poppins', sans-serif;
}

h1{ font-size: 40px;
    padding-left: 2%;

}

.color{
color: rgb(118, 118, 148);

}

.mini-bar{
    border-left: 5px solid;
    border-color: pink;
    margin: right 10%;;
}

.width-portion{
    display:flex;
   width: 80%;
   margin-left: 5%;
   padding-left: 2%;
   margin-bottom: 100px;
    
}

.balance{

width: 50%;
padding-left:10px%;

}

.back{

    
    margin-right: 5px;
    padding-right: 3px;
    padding-left: 10px;
    border-radius: 10px;
}

#mission{
    background-color: rgb(139, 205, 214);
}

#vision{
    background-color: rgb(195, 218, 195);
}
#goal{
    background-color: rgb(178, 185, 204);
}

#text-align{
    text-align: center;
}

.balance img{
   width: 20px;

}
.width-portion img{
 width:100%;
}
.explore-button{
    text-decoration:none;
    background-color: rgb(173, 54, 74);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    margin: top 10px;
    


}

.develop{
display: flex;
margin-bottom: 100px;
padding-left: 10px;
    
}
.develop img{
 width: 80%;
}